@import url('https://fonts.googleapis.com/css?family=Roboto:400,600,700&display=swap');
*{
	padding: unset;
	margin: unset;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
}
body{
  margin: 0 auto;
  width:100rem;
}
p{
  margin: unset;
}
h1{
  margin: unset;
}
.header{
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-image: url(../img/header_bg.png); 
  background-size: 100rem; 
  width: 100%;
  height: 56.25rem;
}
.header_content{
  width: 94.06rem;
  position: relative;
}
.header_nav{
  height: 3.66rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:0 1.04rem;
}
.header_nav__logo{
  font-size: 1.66rem;
  font-weight: 600;
  color: white;
}
.navbar{
  padding:0;
}
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus{
  color: white;
}
.nav-link{
  text-transform: uppercase;
  font-size: 0.66rem;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0rem;
  padding-left: 3.75rem;
}
.nav-link{
  line-height: 2;
  display: inline-block;
  color:#747272;
  text-decoration:none;
  cursor: pointer;
}
.nav-link:after{
  display: block;
  content: "";
  height: 0.156rem;
  width: 0%;
  background-color: #747272;
  transition: width .3s ease-in-out;
}
.nav-link:hover:after,
.nav-link:focus:after{
  width: 100%;
}
.header_title_content{
  text-align: center;
  margin: 12rem auto;
  color:white;
}
.title_content__title{
  text-transform: capitalize;
  font-size: 12.7rem;
  font-weight: 600;
}
.title_content__textblock{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.title_content__text{
  font-size: 2rem;
}
.title_content__text_elegant{
  font-size: 2rem;
  color:#e96b6b;
  margin: 0 0.416rem;
}
.title_content__text_small{
  font-size: 1.3rem;
  margin: 2.416rem 0 0;
}
.header_social_main{
  display: flex;
  justify-content: center;
  margin-left: 1.25rem;
}
.header_social{
  width: 9.9rem;
  height: 1.508rem;
  background-repeat: no-repeat;
  background-image: url(../img/social_media.png);
  background-size: 9.9rem;
  margin-top:2.15rem;
}
.about{
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-image: url(../img/about_bg.png);
  background-size: 100rem; 
  height: 56.25rem;
  position: relative;
}
.about_content{
  display: flex;
  flex-direction: row;
  width: 94.06rem;
}
.about_text_header{
  font-size: 1.916rem;
  font-weight: 600;
  line-height: normal;
}
.about_text{
  line-height: 0.8;
  flex-wrap: nowrap;
  white-space: nowrap;
  width:50rem;
  font-size: 12.9rem;
  font-weight: 600;
  z-index: 1;
  margin-top: 6.927rem;
}
.about_text_small{
  margin-top: 2.604rem;
  width:47.5rem;
  font-size:1.3rem;
  line-height: 1.4;
  white-space: normal;
}
.about_pic{
  position: relative;
  margin-left: 2.933rem;
  margin-top: 6.927rem;
}
.about_pic_pic{
  width:39.166rem;
  height:43.229rem;
}
.about_home{
  transform: rotate(90deg);
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 600;
  position:absolute;
  right: 0.8333rem;
  top: 4.7916rem;
}
.about_home:hover {
   text-decoration: none;
   color: white;
}