@import url('https://fonts.googleapis.com/css?family=Roboto:400,600,700&display=swap');
*{
	padding: unset;
	margin: unset;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
}
body{
  margin: 0 auto;
  width:100rem;
}
p{
  margin: unset;
}
h1{
  margin: unset;
}
.header{
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-image: url(../img/header_bg.png); 
  background-size: 100rem; 
  width: 100%;
  height: 56.25rem;
}
.header_content{
  width: 94.06rem;
  position: relative;
}
.header_nav{
  height: 3.66rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:0 1.04rem;
}
.header_nav__logo{
  font-size: 1.66rem;
  font-weight: 600;
  color: white;
}
.navbar{
  padding:0;
}
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus{
  color: white;
}
.nav-link{
  text-transform: uppercase;
  font-size: 0.66rem;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0rem;
  padding-left: 3.75rem;
}
.nav-link{
  line-height: 2;
  display: inline-block;
  color:#747272;
  text-decoration:none;
  cursor: pointer;
}
.nav-link:after{
  display: block;
  content: "";
  height: 0.156rem;
  width: 0%;
  background-color: #747272;
  transition: width .3s ease-in-out;
}
.nav-link:hover:after,
.nav-link:focus:after{
  width: 100%;
}
.header_title_content{
  text-align: center;
  margin: 12rem auto;
  color:white;
}
.title_content__title{
  text-transform: capitalize;
  font-size: 12.7rem;
  font-weight: 600;
}
.title_content__textblock{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.title_content__text{
  font-size: 2rem;
}
.title_content__text_elegant{
  font-size: 2rem;
  color:#e96b6b;
}
.title_content__text_small{
  font-size: 1.3rem;
  margin: 2.416rem 0 0;
}
.header_social_main{
  display: flex;
  justify-content: center;
  margin-left: 1.25rem;
}
.header_social{
  width: 9.9rem;
  height: 1.508rem;
  background-repeat: no-repeat;
  background-image: url(../img/header_social_media.png);
  background-size: 9.9rem;
  margin-top:2.15rem;
}
.about{
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-image: url(../img/about_bg.png);
  background-size: 100rem; 
  height: 56.25rem;
  position: relative;
}
.about_content{
  display: flex;
  flex-direction: row;
  width: 94.06rem;
}
.about_text_header{
  font-size: 1.916rem;
  font-weight: 600;
  line-height: normal;
}
.about_text{
  line-height: 0.8;
  flex-wrap: nowrap;
  white-space: nowrap;
  width:50rem;
  font-size: 12.9rem;
  font-weight: 600;
  z-index: 1;
  margin-top: 6.927rem;
}
.about_text_small{
  margin-top: 2.604rem;
  width:47.5rem;
  font-size:1.3rem;
  line-height: 1.4;
  white-space: normal;
}
.about_pic{
  position: relative;
  margin-left: 2.933rem;
  margin-top: 6.927rem;
}
.about_pic_pic{
  width:39.166rem;
  height:43.229rem;
}
.go_back{
  font-size:0.8rem;
  transform: rotate(90deg);
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 600;
  position:absolute;
  right: 0.8333rem;
  top: 3.7916rem;
}
.go_back:hover {
   text-decoration: none;
   color: white;
}
.team{
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-image: url(../img/team_bg.png);
  background-size: 100rem; 
  height: 56.25rem;
  position: relative;
  margin-top: -0.08rem;
}
.team_content{
  display: flex;
  flex-direction: column;
  width: 94.06rem;
}
.team_content_header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  line-height: 1;
}
.team_content_header_large_text{
  color: white;
  font-size:7rem;
  font-weight: 600;
  text-transform: capitalize;
}
.team_content_header_small_text{
  color: white;
  font-size:1.3rem;
}
.team_content_slider{

}
.team_content_social{
  margin-top: 36rem;
  margin-left: 3.5rem;
}
.team_content_social_pic{
  width: 11.198rem;
  height: 3.5416rem;
}
.projects{
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-image: url(../img/projects_bg.png);
  background-size: 100rem; 
  height: 56.25rem;
  position: relative;
  margin-top: -0.08rem;
}
.projects_content{
  display: flex;
  flex-direction: column;
  width: 94.06rem;
}
.projects_content_header_text{
  color: white;
  font-size: 13.5rem;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.3;
}
.projects_content_body{
  display: flex;
  flex-direction: row;
}
.projects_content_body_contact_us{
  margin-top: 12rem;
  width: 11.98rem;
}
.projects_content_body_contact_us_text{
  color: white;
  font-size:1.3rem;
}
.projects_content_body_contact_us_text_bold{
  font-size:1.3rem;
  font-weight: 600;
}
.quotes{
  color:white;
  font-size: 21rem;
  opacity: 0.3;
  margin: -19rem 0rem 0rem 7rem;
  z-index: 1;
}
.projects_content_body_contact_us_link{
  margin-top: 2rem;
}
.projects_content_body_contact_us_contacts{
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
}
.projects_content_body_contact_us_contacts:hover {
   text-decoration: none;
   color: white;
}
.projects_content_body_slider{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75.53rem;
}
.projects_content_body_slider_content{
display: flex;
flex-direction: row;
position: relative;
}
.stock_pic1{
width: 15.364rem;
height: 23.7rem;
}
.stock_pic2{
  width: 26.5625rem;
  height: 18.9rem;
}
.stock_pic3{
  width: 19.53rem;
  height: 12.5rem;
}
.stock_pic4{
  width: 20.83rem;
  height: 16.927rem;
}
.stock_pic5{
  width: 18.541rem;
  height: 29.9rem;
}
.stock_pic6{
  width: 15.1rem;
  height: 23.7rem;
}
.stock1{
z-index: 1;
position: relative;
left: 31rem;
}
.stock2{
  z-index: 3;
  position: relative;
  left: 25rem;
  top: 4rem;
}
.stock3{
  z-index: 5;
  position: relative;
  left: -14rem;
  top: 17rem;
}
.stock4{
  z-index: 6;
  position: relative;
  left: -15rem;
  top: 10rem;
}
.stock5{
  z-index: 4;
  position: relative;
  left: -17rem;
  top: 2rem;
}
.stock6{
  z-index: 2;
  position: relative;
  left: -25rem;
  top: 10rem;
}
.projects_content_body_slider_buttons{
margin-top: 2rem
}





/* 
.descr { visibility: hidden; }
.b:hover + .descr {
 visibility: visible;
} */


.app{
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-image: url(../img/app_bg.png);
  background-size: 100rem; 
  height: 56.25rem;
  position: relative;
  margin-top: -0.08rem;
}
.app_content{
  width: 94.06rem;
  display:flex;
}
.app_content_promo{
  display: flex;
  flex-direction: row;
  margin: 14rem 0rem 0rem 3.33rem;
}
.app_content_promo_pic{
width: 14.8rem;
height: 30.052rem;
}
.app_content_promo_text{
  display: flex;
  flex-direction: column;
  margin-left: 3.96rem;
}
.app_content_promo_text_hey{
  color: white;
  font-size: 14.5rem;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.1;
  margin-left: -0.8rem;
}
.app_content_promo_text_header{
  color: white;
  font-size: 1.1rem;
  line-height: 3;
}
.app_content_promo_text_header_bold{
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
}
.app_content_promo_text_text{
  color: white;
  font-size: 0.8rem;
  width: 14rem;
}
.btn-primary {
  font-weight: 600;
  color: #254670;
  background-color: white;
  border-color: transparent;
  width: 12rem;
  margin-top: 1.82rem;
}/* 
.btn-primary::hover{
  
  color: white;
} */
.app_content_features{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 22.604rem;
  height: 29.68rem;
  margin: 13.3rem 0rem 0rem 15.677rem;
}
.app_content_features_feature{
  width: 8.75rem;
  height: 12.3rem;
  text-align: center;
}
.feature1{
  width: 4.53rem;
  height: 3.23rem;
}
.feature2{
  width: 3.07rem;
  height: 3.02rem;
}
.feature3{
  width: 3.7rem;
  height: 4.16rem;
}
.feature4{
  width: 3.9rem;
  height: 4.16rem;
}
.feature_header{
  color: white;
  font-size: 1.04rem;
  font-weight: 600;
  line-height: 2;
  margin-top: 1rem;
}
.feature_text{
  color: white;
  font-size: 0.7rem;
}
.contact{
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-image: url(../img/contacts_bg.png);
  background-size: 100rem; 
  height: 56.25rem;
  position: relative;
  margin-top: -0.08rem;
}
.contact_content{
  width: 94.06rem;
  display:flex;
  flex-direction: column;
  text-align: center;
}
.contact_content_header{

}
.contact_content_header_title{
  line-height: 1;
  margin-top: 8.7rem;
}
.contact_content_header_title_white{
  font-size:12.55rem;
  font-weight: 600;
  color: white;
}
.contact_content_header_title_black{
  font-size:12.55rem;
  font-weight: 600;
  color: black;
}
.contact_content_header_text{
  font-size:1.3rem;
}
.contact_content_body{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  margin-top: 9.74rem;
  margin-left: 3.33rem;
}
.contact_content_body_text{
  text-align: left;
}
.contact_content_body_text_title{
line-height: 2;
}
.contact_content_body_text_title_black{
  font-size:2rem;
}
.contact_content_body_text_title_red{
  font-size:2rem;
  font-weight: 600;
  color: #d56667;
}
.contact_content_body_text_text{
  width:23rem;
  font-size: 0.8rem;
}
.contact_content_body_form {
  width: 52rem;
  margin-top: 1.5rem;
  text-align: left;
}
.contact_content_body_form_header{
  color: black;
  font-size:1.3rem;
  font-weight: 600;
}
.contact_content_body_form_body{
  margin-top: 1rem;
  margin-right: 12rem;
  text-align: center;
}
.form-control{
  border: 0rem solid #ced4da00;
  border-bottom: 0.15625rem solid #cbcbcb;
  width: 19rem;
  border-radius: 0%;
}
.form-control1{
  border: 0.15625rem solid #ced4da00;
  border-bottom: 0.15625rem solid #cbcbcb;
  width: 39.3rem;
  height: 2rem;
  border-radius: 0%;
}
.form-group{
  padding-left: 0.26rem;
  padding-right: 0.26rem;
}
label{
  text-align: left;
  color: #cbcbcb;
  font-size: 0.8rem;
}
.form_buttons{
  text-align: right;
}
.btn-info {
  color: #d56667;
  background-color: white;
  border-color: #d56667;
}
.btn-info:hover {
  color: white;
  background-color: #d56667;
  border-color: #d56667;
}
.btn{
  font-size: 0.6rem;
  font-weight: 600;
  padding: .15rem;
  width: 8rem;
  border: 0.1rem solid;
}
.contact_content_footer{
  display:flex;
}
.contact_content_footer_title{
  display:flex;
  flex-direction: row;
}
.contact_content_footer_title_header{
  font-size: 1.66rem;
  font-weight: 600;
  color: white;
  margin-top: 3.5rem;
  margin-left: 3.33rem;
}
.contact_content_footer_title_text{
  font-size: 0.8rem;
  color: white;
  text-align: left;
  margin-top: 3rem;
  margin-left: 2.3rem;
}
.contact_content_footer_menu{
  margin-top: 2.8rem;
  margin-left: 5.93rem;
  line-height: 1.3;
  text-align: left;
}
.contact_content_footer_menu_title{
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}
.contact_content_footer_menu_content{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  text-transform: uppercase;
  width: 12rem;
}
.contact_content_footer_menu_pt{
  color: white;
}
.contact_content_footer_menu_pt:hover{
  text-decoration: none;
  color: white;
}
.contact_content_footer_menu_contact{
  margin-left: 3.1rem;
  margin-top: 3.95rem;
  text-transform: uppercase;
  color: #d56667;
}
.contact_content_footer_menu_contact:hover{
  text-decoration: none;
  color: #d56667;
}
.contact_content_footer_author{
margin-left: 7.55rem;
margin-top: 4.5rem;
}
.contact_content_footer_author_text{
font-size: 0.5rem;
font-weight: 600;
color: white;
}